<h1>予約フォーム</h1>

<ol class="nav">
	<li class="current">1.入力</li>
	<li>2.確認</li>
	<li>3.完了</li>
</ol>

<%= form_for @reserve, method: :post, url: reserves_confirm_path do |form| %>
	<%= form.text_field :inn_id %>
    <%= form.date_field :start_date %>   
    <%= form.date_field :end_date %>
    <%= form.number_field :guest_num %>
    <%= form.submit '確認画面へ' %>
<% end %>