<div class="layout3-container registarated-room-container">
<h2>登録済みルーム一覧</h2>
    <table>
        <tr>
            <th>ルーム画像</th><th>ルーム名</th><th>ルーム紹介</th><th>料金</th><th>開始日</th><th>終了日</th><th>予約確定日時</th>
        </tr>
        <% @reserves.each do |obj| %>
            <tr class="layout3-list registarated-list">
                <td><%= image_tag obj.inn.innImage.url %></td>
                <td><%= obj.inn.innName %></td>
                <td><%= obj.inn.innMemo %></td>
                <td>¥<%= obj.price_sum %></td>
                <td><%= obj.start_date %></td>
                <td><%= obj.end_date %></td>
                <td><%= obj.created_at %></td>
            </tr>   
        <% end %>
    </table>