<h1>予約フォーム</h1>
<%= form_for @post, method: :poat,  url: posts_confirm_path do |form| %> 
    <table>
        <div class="form-group">
            <tr>
                <th><label for="title">タイトル</label></th>
                <td><%= form.text_field :title %></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <th><label for="start_date">開始日</label></th>
                <td><%= form.date_field :start_date %></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <th><label for="end_date">終了日</label></th>
                <td><%= form.date_field :end_date %></td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <th><label for="all_day">終日</label></th>
                <td><%= form.check_box :all_day %><br>終日の場合はチェックを入れます</td>
            </tr>
        </div>
        <div class="form-group">
            <tr>
                <th><label for="memo">スケジュールメモ</label></th>
                <td><%= form.text_area :memo ,rows:"10", cols:"45" %></td>
            </tr>
        <div class="form-group">
            <tr>
                <th><label for="image">画像</label></th>
                <td><%= form.file_field :image %></td>
            </tr>
        </div>
    </table>
    <%= form.submit "確認画面へ" %>
<% end %>


<div class="link_at_add">
    <p><a class="link" href="/posts">スケジュール一覧に戻る</a></p>
</div>

