<!DOCTYPE html>
<html>
  <head>
    <title>TripApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "trip", "data-turbo-track": "reload" %>
  
    <!--Font Awere-->
     <script src="https://kit.fontawesome.com/63c63b3c5f.js" crossorigin="anonymous"></script>
  </head>

 <body>
    <header>
      <a href="/inns"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="logo"></a>
      <%= search_form_for @search, class:"header-search", url: inns_search_path do |f| %>
         <div class="header-search-form-area"><%= f.search_field :innArea_cont ,placeholder:"エリア" %></div>
         <div class="header-search-form-name"><%= f.search_field :innName_cont ,placeholder:"キーワード" %></div>
      <%= f.submit %>
      <% end %>
    
      <% if user_signed_in? %>  <!-- ユーザーがログインしているか調べる -->
        <!-- ユーザーがログインしていた時の処理 -->
        <div class="header-profile">
         <p class="header-profile-name"><%= current_user.name %></p>
         <details class="header-link-list">
             <summary><%= image_tag current_user.image.url ,class:"header-profile-img" %></summary>
             <ul>
                <li><a href="/inns/add">ルーム登録</a></li>
                 <li><a href="/reserves">予約済みルーム一覧</a></li>
                 <li><a href="/inns/registreted">登録済みルーム一覧</a></li>
                 <li><a href="/users/account">設定</a></li>
                 <li><a href="/users/sign_out">ログアウト</a></li>
             </ul>
         </details>
      </div>
       <% else %>
       <!-- ユーザーがログインしていなかった時の処理 -->
         <div class="header-link-sign">
            <div class="header-log-in"><a href="/users/sign_in">ログイン</a></div>
            <div class="header-sign-up"><a href="/users/sign_up">登録する</a></div>
         </div>
       <% end %>
      </header>
      
      <%= yield %>

    <footer><small>&copy; 2020 POTEPAN.INC.</small></footer>
  </body>
</html>

